:root {
    /* --neutral-color:#FAFAFA; */
    // --neutral-color:#333232;
    // --text-color:rgb(250, 248, 248);
    // --text-color-light:rgba(248, 245, 245, 0.664);
    // --bg-color:rgb(41, 40, 40);
    // --primary-color:#fdf903;
    --neutral-color:#F1F1F1;
    --text-color:#000;
    --text-color-light:rgba(0, 0, 0, 0.664);
    --bg-color:#fff;
    --primary-color:#03BFFD;
    --font:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace ;
  }
  
  body {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color:var(--text-color);
    &::-webkit-scrollbar{
      width: 10px;
    }
    &::-webkit-scrollbar-track{
      background-color:var(--neutral-color);
    }
    &::-webkit-scrollbar-thumb{
      background-color: var(--primary-color);
      border-radius: 10px;

    }
  }
  
  *{

      box-sizing: border-box;
      transition: all 0.2s linear;
      scroll-behavior: smooth;
      &::before, &::after {
       box-sizing: border-box;
       transition: all 0.3s ease-out;
     }
  }
  .hoverable{
position: relative;
transform-origin: center center;
overflow: hidden;
&:hover{
cursor: pointer;
    color:var(--bg-color) !important;
}
&:not(:hover){
    &::before{
        transform: scaleX(0);
        
    }
}
&::before{
        content: '';
        height: 100%;
        z-index: -1;
width:100%;
position: absolute;
top: 0px;
left: 0px;
color:var(--bg-color);
background-color:var(--text-color) !important;
transform-origin: center center;
    }
  }