.cart-popup {
  position: absolute;
  right: 0px;
  width: max-content;
  top: 100%;
  background-color: var(--bg-color);
  flex-direction: column;
  display: flex;
  padding: 2rem 1rem;
  border: 1px solid var(--text-color);
  color: var(--text-color-light);
  .title {
    font-weight: 700;
    text-transform: uppercase;
  }
  .cards-band {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    overflow-y: scroll;
    max-height: 60vh;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--neutral-color);
      border-radius: 10px;
      cursor: grab;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--bg-color);
    }
  }
  .action-btns {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1rem;
    div {
      padding: 10px;
      border: 1px solid var(--text-color);
      cursor: pointer;
    }
    .empty-cart {
      color: var(--text-color);
      background-color: var(--bg-color);
      display: flex;
      gap: 5px;
      align-items: flex-end;
      &:hover {
        color: var(--bg-color);
        background-color: var(--text-color);
      }
    }
    .checkout {
      background-color: var(--text-color);
      color: var(--bg-color);
      display: flex;
      gap: 5px;
      align-items: flex-end;
      &:hover {
        filter: brightness(2);
      }
    }
  }
}
