.svg-wrapper{
    max-height: 90vh;
min-height: 50vh;
    margin:auto;
    aspect-ratio:1;
    color:  rgb(186, 104, 200);
    color: rgb(55, 71, 79);
}
.thank-you-page{
    .svg-wrapper{
        height:80vh
    }
}